$primary-color: #152972;
$color: #afc0ff;
$error-color: #f44336;
$outline-color: #718ffc;

.date-input-container {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #718ffc;
  display: flex;
  align-items: space-between;
}

.lagkZY , .cOSvNn {
  background-color: #fa7816;
  
}

.dsKVpZ {
  color : #fa7816;
}

.date-input-container-error {
  border: 1px solid rgb(252, 113, 113) !important;
}

.react-datepicker-wrapper {
  flex-grow: 1;
  & > .react-datepicker__input-container {
    & > input {
      outline: none;
      border: none;
      background: transparent;
      text-align: start;
      font-size: 1.2em;
      font-family: 'Exo2-Medium';
      color: $primary-color;
      padding: 8px 5px;
      width: 100%;
      min-width: 100%;
    }
    & > input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $color;
      opacity: 1; /* Firefox */
    }

    & > input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $color;
    }

    & > input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $color;
    }
  }
}
.react-datepicker-popper {
  left: -25px !important;
}

// Form Date Input Field
.form-date-input {
  border: 1px solid $outline-color;
  border-radius: 4px;
  font-family: 'Exo2-Medium';
  display: flex;
  align-items: center;
  padding: 0 1em;

  & > div > input {
    outline: none;
    border: none;
    background: transparent;
    text-align: start;
    font-size: 1.2em;
    font-family: 'Exo2-Medium';
    color: #152972;
    padding: 8px 5px;
    width: 350px;
    min-width: 100%;
  }

  &.form-error {
    border-color: $error-color !important;
  }

  & > img {
    width: 1.4rem;
  }

  & > div {
    // margin-left: 0.5em;

    & > div {
      margin: 2px 0;
    }
  }

  & > input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color;
    opacity: 1; /* Firefox */
  }

  & > input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }

  & > input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color;
  }
}

// Form Date Input Field
.form-time-input {
  border: 1px solid $outline-color;
  border-radius: 4px;
  font-family: 'Exo2-Medium';
  display: flex;
  align-items: center;
  padding: 0 1em;

  &.form-error {
    border-color: $error-color !important;
  }

  & > img {
    width: 1.4rem;
  }

  & > div {
    margin-left: 1em;

    & > div {
      outline: none;
      color: $primary-color;
      font-size: 1.2rem;
      font-family: 'Exo2-Medium';
      line-height: unset;
      border-bottom: 0px solid !important;

      &::before {
        border-bottom: 0px solid !important;
      }

      &::after {
        border-bottom: 0px solid !important;
      }

      & > input {
        padding: 11px 5px;
      }

      & > input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color;
        opacity: 1; /* Firefox */
      }

      & > input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $color;
      }

      & > input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $color;
      }
    }
  }
}
