button {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.5s ease;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  margin: 0px 4px;
  background: transparent;
  color: #ffffff;
  width: 150px;
}

button:hover {
  background: rgba(0, 0, 0, 0.9);
  border: none;
}

.wrapper {
  max-width: 1335px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
}

.slider-wrapper {
  position: relative;
  height: 89vh;
  overflow: hidden;
  box-sizing: border-box;

  outline: none;

  .slider-content {
    .inner {
      text-align: start;
      padding: 0 70px;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      top: 25%;
      /* left: 50%;
                -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%); */
      button {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }

      h1 {
        /* font-weight: 900; */
        /* margin: 0 auto; */
        max-width: 840px;
        color: #ffffff;
        font-size: 64px;
        line-height: 1;
      }

      p {
        color: #ffffff;
        font-size: 26px;
        line-height: 1.5;
        /* margin: 20px auto 30px; */
        max-width: 640px;
      }

      section {
        position: absolute;
        bottom: 20px;
        left: 20px;

        span {
          color: #ffffff;
        }

        span {
          color: rgba(255, 255, 255, 0.5);
          font-size: 12px;
          display: inline-block;
          text-align: left;
          line-height: 1.4;
          vertical-align: middle;
          margin-left: 10px;

          strong {
            color: #ffffff;
            font-size: 14px;
            display: block;
          }
        }

        img {
          width: 40px;
          height: 40px;
          border: solid 2px rgba(255, 255, 255, 0.5);
          border-radius: 100%;
          vertical-align: middle;
        }
      }
    }
  }
}

.slide {
  height: 80vh;
  background-size: cover !important;
}

.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(rgba(0, 0, 0, 0.9))
  );
  background: linear-gradient(transparent, rgba(15, 13, 143, 0.9));
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(15, 13, 143, 0.9)),
    to(transparent)
  );
  bottom: 0;
  left: 0;
}

.previousButton,
.nextButton {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url('https://svgshare.com/i/41_.svg') no-repeat center center /
    16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.previousButton:hover,
.nextButton:hover {
  background: url('https://svgshare.com/i/41_.svg') no-repeat center center /
    16px;
}

.previousButton {
  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));

  &:hover {
    left: -10px;
  }
}

.nextButton {
  right: 0;
  &:hover {
    right: -10px;
  }
}

@media screen and (min-width: 980px) /* Desktop */ {
}

@media screen and (max-width: 979px) /* Tablet */ {
  .slider-wrapper,
  .slide {
    height: calc(80vh - 50px);
  }
  .slider-content {
    .inner {
      h1 {
        font-size: 32px;
      }
    }
  }
}

@media screen and (max-width: 500px) /* Mobile */ {
  .slider-wrapper,
  .slide {
    height: calc(100vh - 100px);
  }
  .slider-content {
    .inner {
      padding: 10px;
      text-align: center;
      h1 {
        font-size: 32px;
      }
    }
  }
}

// BREAKPOINTS
@media (max-width: 500px) {
  .slider-wrapper {
    .slider-content {
      .inner {
        padding: 0 16px;

        h1 {
          font-size: 32px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}
